@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  src: url("font-files/Inter-Light.woff2?v=20190204041306") format("woff2"),
       url("font-files/Inter-Light.woff?v=20190204041306") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("font-files/Inter-Regular.woff2?v=20190204041306") format("woff2"),
       url("font-files/Inter-Regular.woff?v=20190204041306") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: url("font-files/Inter-Medium.woff2?v=20190204041306") format("woff2"),
       url("font-files/Inter-Medium.woff?v=20190204041306") format("woff");
}
